<div class="grid-container">
    <% if listing.errors.any? %>
        <ul>
            <% listing.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_with model: listing, local: true, :html => {:class => 'form-flex'} do |form| %>
        <h2>Create New Print</h2>
        <div>
            <%= form.text_field :title, value: listing.title, placeholder: "Title" %>
        </div>
        <div>
            <%= form.text_area :description, value: listing.description, placeholder: "Description" %>
        </div>
        <div>
            <%= form.number_field :price, value: listing.price, min: 0, placeholder: "Price" %>
        </div>
        <div class="picture-input">
            <%= form.label :picture %>
            <%= form.file_field :picture, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
</div>
