<h2><%= @listing.title %></h2>
<p><%= @listing.description %></p>
<p><%= number_to_currency(@listing.price) %></p>
<% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, style: "width: 200px" %>
<% end %>
<br>
Seller's email: <%= @listing.user.email %>
<% if current_user.id == @listing.user.id %>
    <p><%= link_to "edit", edit_listing_path(@listing.id) %></p>
    <%= form_with model: @listing, local: true, method: :delete do |form| %>
        <%= submit_tag "delete" %>
    <% end %>

<% end %>