<div class="grid-container">
    <div class="show-copy">
        <h2><%= @listing.title.capitalize %></h2>
        <p><%= @listing.description %></p>
        <p><%= number_to_currency(@listing.price) %></p>
        <p>By: <em><%= @listing.user.email %></em><p>
        <div class="button-wrap">
            <% if current_user.id == @listing.user.id %>
                <%= link_to "edit", edit_listing_path(@listing.id) %>
                <%= form_with model: @listing, local: true, method: :delete do |form| %>
                    <%= submit_tag "delete" %>
                <% end %>
            <% end %>        
        </div>

    </div>
    <div class="show-img">
        <% if @listing.picture.attached? %>
            <%= image_tag @listing.picture %>
        <% end %>
    </div>

</div>
