<!DOCTYPE html>
<html>
  <head>
    <title>MArtketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ---------- GRID OVERLAY ---------- %>
    <%# <div id="grid">
      <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
    </div> %>

    

    <nav id="nav">
      <div class="logo">
        <a href="/"><%= image_tag "logoPNGRed.png", alt: "mArtketplace's logo" %></a>
      </div>
      <div class="nav-links">
        <button data-stripe="payment">Donate</button>
        <%= link_to "Showroom", listings_path %>
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login/Signup", new_user_session_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
      document
        .querySelector("[data-stripe='payment']")
        .addEventListener("click", () => {
          const stripe = Stripe(
            "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
          );

          stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
          });
        });
    </script>
  </body>
</html>
